Kedves Feliratkozó!

Ezt az automatikus válaszlevelet azért kapod, mert az etelmentes.hu oldalra feliratkoztál. Nagyon örülünk, hogy az ételmentés projektünk felkeltette a figyelmed.

Mi a Budapest Bike Maffiánál hiszünk abban, hogy egy kis figyelemmel rengeteget tudunk tenni az ételpazarlás és egyben a rászorulók segítése érdekében. Örülnénk ha ebben Te is együttműködnél velünk !

Az ételmentés projekt a felajánlók által adományozott friss vagy tartós ételeket és élelmiszereket szállítja az intézményekbe autós önkéntesei közreműködésével. Ezekben az intézményekben, szállókon és ellátó helyeken jellemzően 50 fő, vagy e feletti a rászorulók létszáma. Fontos számunkra, hogy egy-egy kiszállítás alkalmával egy intézmény összes lakója számára tudjunk ételt juttatni, így ennek a projektnek a keretében a felajánlóinknak 50 adag, vagy e feletti ételadomány felajánlására van lehetőségük.

Felajánlóink minimum ekkora vagy ennél nagyobb mennyiséget tudnak felajánlani a rendszeren keresztül, önkénteseink pedig ezen felajánlások autós kiszállításában tudnak közreműködni.

Elsősorban nem gyorsan romlandó pékáruk, szendvicsek, rendezvényeken el nem fogyasztott élelmiszerek, illetve frissen főzött és azonnal csomagolt melegételeket tudunk biztonsággal továbbadni.

Majonézes, gombát tartalmazó és hasonló romlékony ételt nem vállalhatunk az élelmiszerbiztonsági kockázatok miatt. Önkénteseink a felajánlásokat csomagoltan, szállításra készen tudják átvenni és az átvételt követően azonnal eljuttatják a felhasználási helyre.

Igyekszünk minden felajánlásnak eleget tenni, de önkéntes csapatunk nem tud minden esetben előzetesen garanciát vállalni arra, hogy a felajánlásért valaki menni tud, különösen ha nagyon szűk a rendelkezésre álló idő.

Ha nagyon hirtelen kell a megmaradt ételekről gondoskodni, és esetleg a mi önkénteseink nem tudják vállalni, vagy ha kevesebb a mennyiség, mint amit az ételmentés fogadni tud, akkor is próbálunk nektek segíteni, ellátóhelyek címével, elérhetőségével hátha valaki közvetlenül el tudja vinni az ételeket egy olyan helyre, ahol szívesen fogadnák.

Kérünk, hogy a fentiek ismeretében írd meg nekünk, hogy autós sofőrként vagy felajánlóként regisztrálnál. A válaszodat követően ahogy tudunk kapcsolatba lépünk veled J és értesítünk a továbbiakról, annak megfelelően,hogy milyen formában szeretnél kezdeményezésünkhöz csatlakozni

Üdvözlettel:
Fehér Judit és Szőke Dóra
(BudapestBikeMaffia)
