%h4 Kedves Feliratkozó!

%p
  Ezt az automatikus válaszlevelet azért kapod, mert az
  = link_to 'etelmentes.hu', root_url
  oldalra feliratkoztál. Nagyon örülünk, hogy az ételmentés projektünk felkeltette a figyelmed.
%p Mi a Budapest Bike Maffiánál hiszünk abban, hogy egy kis figyelemmel rengeteget tudunk tenni az ételpazarlás és egyben a rászorulók segítése érdekében. Örülnénk ha ebben Te is együttműködnél velünk!
%p Az ételmentés projekt a felajánlók által adományozott friss vagy tartós ételeket és élelmiszereket szállítja az intézményekbe autós önkéntesei közreműködésével. Ezekben az intézményekben, szállókon és ellátó helyeken jellemzően 50 fő, vagy e feletti a rászorulók létszáma. Fontos számunkra, hogy egy-egy kiszállítás alkalmával egy intézmény összes lakója számára tudjunk ételt juttatni, így ennek a projektnek a keretében a felajánlóinknak 50 adag, vagy e feletti ételadomány felajánlására van lehetőségük.
%p Felajánlóink minimum ekkora vagy ennél nagyobb mennyiséget tudnak felajánlani a rendszeren keresztül, önkénteseink pedig ezen felajánlások autós kiszállításában tudnak közreműködni.
%p Elsősorban nem gyorsan romlandó pékáruk, szendvicsek, rendezvényeken el nem fogyasztott élelmiszerek, illetve frissen főzött és azonnal csomagolt melegételeket tudunk biztonsággal továbbadni.
%p Majonézes, gombát tartalmazó és hasonló romlékony ételt nem vállalhatunk az élelmiszerbiztonsági kockázatok miatt. Önkénteseink a felajánlásokat csomagoltan, szállításra készen tudják átvenni és az átvételt követően azonnal eljuttatják a felhasználási helyre.
%p Igyekszünk minden felajánlásnak eleget tenni, de önkéntes csapatunk nem tud minden esetben előzetesen garanciát vállalni arra, hogy a felajánlásért valaki menni tud, különösen ha nagyon szűk a rendelkezésre álló idő.
%p Ha nagyon hirtelen kell a megmaradt ételekről gondoskodni, és esetleg a mi önkénteseink nem tudják vállalni, vagy ha kevesebb a mennyiség, mint amit az ételmentés fogadni tud, akkor is próbálunk nektek segíteni, ellátóhelyek címével, elérhetőségével hátha valaki közvetlenül el tudja vinni az ételeket egy olyan helyre, ahol szívesen fogadnák.
%p Kérünk, hogy a fentiek ismeretében jelezd nekünk, hogy autós sofőrként vagy felajánlóként regisztrálnál.
%p A válaszodat követően ahogy tudunk kapcsolatba lépünk veled és értesítünk a továbbiakról, annak megfelelően,hogy milyen formában szeretnél kezdeményezésünkhöz csatlakozni:
%p
  Ha autós sofőrként / önkéntes futárként mentenél ételt itt jelentkezz:
  %br
  = link_to nil, 'https://goo.gl/forms/oXNalF4m2t3BPhPj1'
%p
  Ha felajánlanál a fenti mennyiségben megmaradt friss vagy tartós élelmiszereket jelentkezz itt:
  %br
  = link_to nil, 'https://goo.gl/forms/ShUJvWOb3wY9V3gB2'
%p
  Üdvözlettel:
  %br
  Fehér Judit és Szőke Dóra
  %br
  (BudapestBikeMaffia)
