
<div class="pull-right">
  <%= link_to t(:create_new, scope: [:donation]), new_donation_path, class: 'btn btn-large btn-success' %>
</div>

<h1>„Night Watch” – Ételmentő projekt</h1>

<p class="lead">A Budapest Bike Maffia „Night Watch” ételmentő projektjének a célja, hogy a fogyasztásra alkalmas meleg ételt, valamint egyéb élelmiszert megmentsük azáltal, hogy az arra rászorulóknak eljuttatjuk, nevezetesen elsősorban hajléktalan szállókra, de tervezzük egyéb lehetőségek felkutatását is (pl: anya otthonok, családok átmeneti otthona, melegedők stb.).</p>
<p>Tevékenységünk nem csupán hazai szinten fontos, valójában globális célokat szolgál. Az ENSZ 2015-ben meghatározta 17 globális célkitűzését, amelyek közül háromra is választ nyújtunk. Ezek az alábbiak:</p>
<ul>
  <li>Az éhezés megszűntetése</li>
  <li>Felelős fogyasztás</li>
  <li>Bolygónk védelme</li>
</ul>
<p>Tevékenységünk során tehát csökkentjük Magyarországon az éhezést, felhívjuk a figyelmet a közös társadalmi felelősség vállalásra, tudatosságot növelünk, valamint azáltal, hogy csökkentjük az élelmiszer pazarlást, közvetlenül hozzájárulunk a klímaváltozás elleni küzdelemhez.</p>

<h2>A projekt folyamata lépésről lépésre:</h2>
<p>Ételmentéssel, a Bike Maffiával már régóta foglalkozunk, de kapacitás hiányában többször el kellett utasítanunk a felajánlásokat. Egy új kialakulóban lévő csapatnak köszönhetően ez most új lendületet vesz.</p>

<h2>Hogyan néz ki ez a valóságban?</h2>
<p>Felajánlás beérkezése, telefonos / írásos egyeztetés: Ez a projekt vezetőjéhez, vagy a “diszpécserhez” érkezik be.</p>

<dl>
  <dt>Milyen típusú élelmiszerről van szó?</dt>
  <dd>Meleg étel / levesek, szendvicsek, sós vagy édes sütemények, pékáruk, gyümölcsök, tartós élelmiszerek. Fontos, hogy egészségügyi kockázata miatt majonézes, gombát vagy nyers tojást tartalmazó ételeket nem szállítunk tovább.</dd>

  <dt>Hol található az élelmiszer, ki a felajánló?</dt>
  <dd>Csapattagjaink névvel, címmel, telefonszámmal ellátott értesítést kapnak egy zárt facebook csoporton keresztül. További fontos információ, hogy mettől meddig lehet az ételekért menni.</dd>

  <dt>Milyen mennyiségű élelmiszerről van szó?</dt>
  <dd>Fontos, hogy meleg ételnél 50 adag, pékáru és szendvics esetén 50 adag étel alatt nem indítunk autót, illetve cargo / utánfutós biciklit. Itt arra kérjük a felajánlókat, hogy igyekezzenek maguk megoldani az elszállítást valamint helyeket javaslunk ebben az esetben.</dd>

  <dt> Van e szállításra alkalmas tároló egység?</dt>
  <dd>A felajánlók egy része nincs felkészülve tároló dobozokkal a tovább adományozásra. Erre a felhívásban kitérünk és megkérjük őket, hogy próbáljanak meg erről maguk gondoskodni.</dd>

  <dt> Hova kerül az élelmiszer?</dt>
  <dd>Az önkéntes csapattagok részére készítettünk egy listát címmel és telefonszámmal arra vonatkozólag, hol veszik át a felajánlásokat. Ez a lista jelenleg a hajléktalan szállókra, melegedőkre korlátozódik, de tervezzük az esetleges tovább bővítését (anyaotthonok, családok átmeneti szállása, stb.)</dd>

  <dt> Leszállítás és mi van utána?</dt>
  <dd>Tagjainkat minden esetben arra kérjük, hogy fotót készítsenek az átvételről és az átadásról is. Ezeket a képeket a facebook csoportba töltik fel. Továbbá vezetünk egy táblázatot, amelyben havonta összesítjük a kiszállított élelmiszert.</dd>
</dl>

<p>
  Projekt menedzser: Dr. Szőke Dóra<br>
  Projektvezető: Havasi Zoltán <br>
  Ha kérdésed, felajánlanivalód van, a kapcsolat menüpont alatt írj nekünk!
</p>
