<h1>
  <%= t '.title' %>
  <%= link_to t(:create_new, scope: [:donation]), new_donation_path, class: "btn btn-primary pull-right" %>
</h1>

<%= render 'table', donations: @donations %>

<br>

<%= link_to t(:create_new, scope: [:donation]), new_donation_path, class: "btn btn-primary" %>
