<%= render 'info', donation: @donation %>

<% if transport = @donation.transports.first %>
  <h3><%= Donation.human_attribute_name(:transporter) %></h3>
  <p><%= transport.name %></p>
<% end %>


<%= link_to t('back'), donations_path %>
