<%= render 'info', donation: @donation %>

<% if transport = @donation.transports.first %>
  <h3><%= Donation.human_attribute_name(:transporter) %></h3>
  <%= render 'transports/info', transport: transport %>
<% end %>


<%= link_to t('back'), donations_path %>
