@font-face {
  font-family: 'Barlow Light';
  src: font-url('Barlow-Light.eot');
  src: font-url('Barlow-Light.eot?#iefix') format('embedded-opentype'),
       font-url('Barlow-Light.ttf') format('truetype'),
       font-url('Barlow-Light.woff') format('woff');
}
